html,
body {
    height      : 100%;
    font-family : 'Poppins', sans-serif !important;
    /* color    : #6b6b6b; */
    /* font-size: 16px; */
    padding-top : 3.5rem;
}

@media only screen and (min-width:768px) {
    #sidenav {
        height: 100vh;
    }
}

nav {
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
    font-size : 1rem !important;
}

.active {
    color              : white;
    /* background-color: ; */
}


li {
    padding-right: 1rem;
}


img {
    max-width: 100%;
    height   : auto;
}

.card {
    background-color: #f9f9fd;
}

.card:hover {
    background-color: #ffff;
    /* box-shadow   : tomato; */
    /* box-shadow   : 5px 10px #888888; */
    /* box-shadow   : 10px 5px 5px black; */
    /* box-shadow   : 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
    box-shadow      : 3px 3px 5px 6px #ccc;
}